@import "tailwindcss";

@theme{
    --color-primary: #B2EBF2;
    --color-secondary: #E0F7FA;
}
@layer base {
    body {
        background: linear-gradient(124deg, #E0F7FA -2.28%, #B2EBF2 118.51%);
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
}

@layer components {
    .container {
        @apply rounded-[16px] bg-white/60 ;

    }

    .produto-box {
        @apply drop-shadow-[0_4px_4px_rgba(0,0,0,0.25)] rounded-[5px] bg-white/60;
    }

    .navbar {
        @apply top-0 content-center justify-between z-100 border-[11px] border-white items-center md:gap-8 bg-white/60 rounded-[16px] mt-8;
        left: 50%;
        transform: translateX(-50%);
    }

    .navbar_btn:hover {
        @apply transition-all duration-200 transform bg-white/60;

    }

    .navbar_btn {
        @apply md:py-[13px] md:px-[42px];
    }

    .navbar img {
        @apply w-[37px];
    }


    .loginBox {
        @apply relative flex flex-col justify-center items-center py-10 px-10 md:px-20 gap-5 md:border-[11px] border-white rounded-[16px];
        & .logoBox{
            @apply flex;
        }
        & h1 {
            @apply text-[#424159] text-3xl md:text-5xl font-black leading-none font-[Inter] p-10;
        }
        & form {
            @apply flex flex-col justify-center content-center items-center gap-[18px];
        }

        & label {
            @apply self-start text-[#424159] text-[24px] font-normal leading-none font-[Inter] ;
        }
        & select {
            @apply w-full h-[40px] bg-white;
        }
        & input {
            @apply w-[250px] md:w-[456px] h-[40px] bg-white;
        }
        & button{
            @apply bg-white p-4 text-[#424159] text-2xl mt-20;
        }

    }
    .PesquisarAdicionarBox{

    }

}

@layer utilities {
  .scrollbar-custom::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #bebebe;
    border-radius: 9999px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background-color: #dbeafe;
  }
}

